
/* Regole Generali */
*{
  margin: 0px;
  box-sizing: border-box;
}

/* Utilities */
.clearfix::after{
content: '';
display: table;
clear: both;
}

/* Allineamento centrale generale */
.generalcontainer{
  width: 70%;
  margin: 0 auto;
}

/* Testata */
.mainheader{
  margin-top: 10px;
}

#logo{
  background-image: url('../img/header.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logobool{
  background-image: url('../img/bool.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

#grafico{
  background-image: url('../img/grafico.png');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  text-align: center;
}

#menu{
  height: 30px;
  padding: 2px;
  background-color: #2d5674;
}

#menu ul{
  text-align: center;
}

#menu ul li{
  display:inline-block;
  padding: 4px;
  font-family: 'Tomorrow';
  font-size: 18px;
  font-weight: bold;
}

a:link{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #fc621c;
  text-decoration: none;
}

/* Testi */
/* TITOLI font-family: 'Odibee Sans'; */
/* SOTTOTILI font-family: 'Work Sans';*/
/* CONTENUTI font-family: 'Montserrat'; */
.titolo{
  font-family: 'Odibee Sans';
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  color: #2d5674;
}

.sottotitolo{
  font-family: 'Work Sans';
  color: #ff601c;
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.contenuto{
  font-family: 'Montserrat';
  font-size: 15px;
}

.titolografico{
  font-family: 'Odibee Sans';
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  color: #ff601c;
}

.icona{
  font-family: 'Odibee Sans';
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  color: #d81a60;
}

/* Main */
#mainconteiner{
  background-color: #82ef6f;
}

/* Valori Standard Colonna */
.colonna{
  float:left;
  padding: 5px;
  border-radius: 10px;
}

/* Colonna Sinistra */
.lxcol{
  width: 19.5%;
  background-color: white;
  margin: 0.5% 0 0 0.5%;
}
/* Colonna Centrale */
.cntrcol{
  width: 55%;
  background-color: white;
  margin: 0.5% 2.5% 0;
}
/* Colonna Destra */
.cont_rxcol{
  float:left;
  width: 19.5%;
  margin: 0.5% 0.5% 0 0;
}

/* Contenuto Colonna Destra */
.cont_rxcol .rxcol{
  background-color: white;
  border-radius: 10px;
}

.cont_rxcol .rxcol:nth-child(2){
margin: 6px 0;
}

.cont_rxcol .rxcol:nth-child(3){
margin-bottom: 6px;
}

/* Footer */
#cont_footer{
  position: relative;
  float:left;
  background-color: #2d5674;
  margin: 6px 0;
  width: 100%;
}

.dev{
  font-family: 'Tomorrow';
  font-size: 15px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding: 3px;
}

.social{
  text-align: center;
  font-family: 'Odibee Sans';
  padding-left: 10px;
  font-size: 40px;
  color: white;
  border-radius: 0 5px 0 5px;
}
